<app-navigation />
<router-outlet />

<section class="container-fluid">
  <article class="row">
    <aside class="col-lg-3 col-md-3 col-sm-4 mb-3">
      <app-side-nav />
    </aside>
    <article class="col-sm-8 col-md-9 col-lg-9">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
        cupiditate, cumque, ipsa laborum officia repellendus quam sequi
        perferendis illo, quasi at eaque? Consequuntur ut, aliquid quidem
        quisquam dolorem obcaecati aperiam!
      </p>
    </article>
  </article>
</section>
