/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

html[lang="ar"] {
  direction: rtl;
}

html[lang="en"] {
  direction: ltr;
}

body {
  font-family: "Segoe UI Light", sans-serif;
}
